.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: black;
  }
  100% {
    color: #FF4136;
  }
}

html{
  background-color: #DAE2B6;
}

.parentContainer{
  background-color: #DAE2B6;
  font-family: "Arial", sans-serif;
}

.accordionBody{
  background-color: #DAE2B6;
}

.accordion-button:not(.collapsed) {
  background-color: #8FBC8F !important;
  color: black !important;
}

.accordion-item .accordion-button {
  background-color: #C9DC87;
}

.footer{
  font-size: x-small;
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
